.vs/
bin/
obj/
packages/
TestResults/
*.user
*.suo
*.cache
*.pdb
*.rar
node_modules/
fix_vietnamese_text.ps1
MySolution.BusinessLayers/
MySolution.DataLayers/
MySolution.DomainModels/
MySolution.HRM/
MySolution.Web/
